In [0]:
text = "Truly Kryptic is the best puzzle game. It's browser-based and free. Google it."

In [5]:
import nltk
nltk.download('punkt')

from nltk import word_tokenize
text_tokenized = word_tokenize(text.lower())
text_tokenized

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

['truly',
 'kryptic',
 'is',
 'the',
 'best',
 'puzzle',
 'game',
 '.',
 'it',
 "'s",
 'browser-based',
 'and',
 'free',
 '.',
 'google',
 'it',
 '.']

In [16]:
import nltk
nltk.download('words')
from nltk.corpus import words
words.readme().replace('\n','')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

'Wordlistsen: English, http://en.wikipedia.org/wiki/Words_(Unix)en-basic: 850 English words: C.K. Ogden in The ABC of Basic English (1932)'

In [18]:
words

In [35]:
words.fileids()

['en', 'en-basic']

In [21]:
words.words('en')[:10]

['A',
 'a',
 'aa',
 'aal',
 'aalii',
 'aam',
 'Aani',
 'aardvark',
 'aardwolf',
 'Aaron']

In [22]:
len(words.words('en'))

235886

In [23]:
len(words.words('en-basic'))

850

In [24]:
english_vocab = set(w.lower() for w in words.words())
text_vocab = set(w.lower() for w in text_tokenized if w.isalpha()) 
unusual = text_vocab.difference(english_vocab)
unusual

{'google'}

In [39]:
import nltk
nltk.download('averaged_perceptron_tagger')


text = 'the dogs are barking outside'
word = nltk.word_tokenize(text)
pos_tag = nltk.pos_tag(word)
print (pos_tag)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[('the', 'DT'), ('dogs', 'NNS'), ('are', 'VBP'), ('barking', 'VBG'), ('outside', 'IN')]

In [53]:
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
text ='who is Barrack Obama'
word = nltk.word_tokenize(text)
pos_tag = nltk.pos_tag(word)
chunk = nltk.ne_chunk(pos_tag)
NE = [ ' ' .join(w for w, t in ele) for ele in chunk if isinstance(ele, nltk.Tree)]
print (NE)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
['Barrack Obama']

In [0]:
text = 'इराक के विदेश मंत्री ने अमरीका के उस प्रस्ताव का मजाक उड़ाया है , जिसमें अमरीका ने संयुक्त राष्ट्र के प्रतिबंधों को इराकी नागरिकों के लिए कम हानिकारक बनाने के लिए कहा है ।'

In [48]:
import nltk
nltk.download('indian')
from nltk.tag import tnt
from nltk.corpus import indian


train_data=indian.tagged_sents('hindi.pos')
tnt_pos_tagger=tnt.TnT()
tnt_pos_tagger.train(train_data)

[nltk_data] Downloading package indian to /root/nltk_data...
[nltk_data]   Unzipping corpora/indian.zip.

In [49]:
train_data

[[('पूर्ण', 'JJ'), ('प्रतिबंध', 'NN'), ('हटाओ', 'VFM'), (':', 'SYM'), ('इराक', 'NNP')], [('संयुक्त', 'NNC'), ('राष्ट्र', 'NN'), ('।', 'SYM')], ...]

In [0]:
docA = 'The cat sat on my face'
docB = 'the dog sat on my bed'

In [0]:
bowA = docA.split(' ')
bowB = docB.split(' ')

In [59]:
bowB

['the', 'dog', 'sat', 'on', 'my', 'bed']

In [0]:
wordSet = set(bowA).union(set(bowB))

In [61]:
wordSet

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat', 'the'}

In [0]:
wordDictA = dict.fromkeys(wordSet, 0)
wordDictB = dict.fromkeys(wordSet, 0)

In [63]:
wordDictA

{'The': 0,
 'bed': 0,
 'cat': 0,
 'dog': 0,
 'face': 0,
 'my': 0,
 'on': 0,
 'sat': 0,
 'the': 0}

In [0]:
for word in bowA:
  wordDictA[word]+=1
  
for word in bowB:
  wordDictA[word]+=1

In [65]:
wordDictA

{'The': 1,
 'bed': 1,
 'cat': 1,
 'dog': 1,
 'face': 1,
 'my': 2,
 'on': 2,
 'sat': 2,
 'the': 1}

In [66]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   The  bed  cat  dog  face  my  on  sat  the
0    1    1    1    1     1   2   2    2    1
1    0    0    0    0     0   0   0    0    0

In [0]:
def computeTF(wordDict, bow):
  tfDict = {}
  bowCount = len(bow)
  for word, count in wordDict.items():
    tfDict[word] = count/float(bowCount)
  return tfDict

In [0]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [77]:
tfBowA

{'The': 0.16666666666666666,
 'bed': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'dog': 0.16666666666666666,
 'face': 0.16666666666666666,
 'my': 0.3333333333333333,
 'on': 0.3333333333333333,
 'sat': 0.3333333333333333,
 'the': 0.16666666666666666}

In [78]:
tfBowB

{'The': 0.0,
 'bed': 0.0,
 'cat': 0.0,
 'dog': 0.0,
 'face': 0.0,
 'my': 0.0,
 'on': 0.0,
 'sat': 0.0,
 'the': 0.0}

In [0]:
def computeIDF(docList):
  import math
  idfDict={}
  N = len(docList)
  
  idfDict = dict.fromkeys(docList[0].keys(),0)
  for doc in docList:
    for word,val in doc.items():
      if val>0:
        idfDict[word]+=1
        
  for word,val in idfDict.items():
    idfDict[word] = math.log10(N/float(val))
  return idfDict

In [0]:
idfs = computeIDF([wordDictA, wordDictB])

In [0]:
def computeTFIDF(tfBow, idfs):
  tfidf = {}
  for word,val in tfBow.items():
    tfidf[word] = val*idfs[word]
  return tfidf

In [0]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [104]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

        The       bed       cat  ...        on       sat       the
0  0.050172  0.050172  0.050172  ...  0.100343  0.100343  0.050172
1  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000

[2 rows x 9 columns]

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [0]:
tfidf = TfidfVectorizer()

In [0]:
response = tfidf.fit_transform([docA, docB])

In [99]:
feature_names = tfidf.get_feature_names()
for col in response.nonzero()[1]:
  print(feature_names[col],'-',response[0,col])

face - 0.49844627974580596
my - 0.35464863330313684
on - 0.35464863330313684
sat - 0.35464863330313684
cat - 0.49844627974580596
the - 0.35464863330313684
bed - 0.0
dog - 0.0
my - 0.35464863330313684
on - 0.35464863330313684
sat - 0.35464863330313684
the - 0.35464863330313684