In [15]:
import re
count=0
pattern = re.compile("ab")
matcher=pattern.finditer("abaababa")
for match in matcher:
    count+=1
    print(match.start(),"...",match.end(),"...",match.group())
print("The number of occurences: ",count)

0 ... 2 ... ab
3 ... 5 ... ab
5 ... 7 ... ab
The number of occurences:  3

In [16]:
import re
matcher=re.finditer("[^abc]","a7b@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
3 ... @
4 ... k
5 ... 9
6 ... z

In [17]:
import re
matcher=re.finditer("[a-z]","a7b@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
4 ... k
6 ... z
7 ... c

In [11]:
import re
matcher=re.finditer("[0-9]","a7b@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
5 ... 9

In [12]:
import re
matcher=re.finditer("[a-zA-Z0-9]","a7bC@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... b
3 ... C
5 ... k
6 ... 9
7 ... z
8 ... c

In [18]:
import re
matcher=re.finditer("[abc]","a7b@k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
7 ... c

In [19]:
import re
matcher=re.finditer("\s","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

4 ...

In [20]:
import re
matcher=re.finditer("\d","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
7 ... 9

In [21]:
import re
matcher=re.finditer("\D","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
3 ... C
4 ...
5 ... @
6 ... k
8 ... z
9 ... c

In [22]:
import re
matcher=re.finditer("\w","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... b
3 ... C
6 ... k
7 ... 9
8 ... z
9 ... c

In [23]:
import re
matcher=re.finditer("\W","a7bC @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

4 ...
5 ... @

In [28]:
matcher=re.finditer("","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ...
1 ...
2 ...
3 ...
4 ...
5 ...
6 ...
7 ...
8 ...

In [27]:
matcher=re.finditer("a+","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... aa
5 ... aa

In [30]:
matcher=re.finditer("a?","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ...
2 ... a
3 ... a
4 ...
5 ... a
6 ... a
7 ...
8 ...

In [33]:
matcher=re.finditer("a{3}","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

5 ... aaa

In [34]:
matcher=re.finditer("a{2,4}","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

2 ... aa
5 ... aaa

In [36]:
s="Learning Python is very Easy"
res=re.search("^Learn",s)
if res!=None:
    print("target string starts with Learn")
else:
    print("target string not starts with Learn")

target string starts with Learn

In [37]:
s="Python is very Easy"
res=re.search("^Learn",s)
if res!=None:
    print("target string starts with Learn")
else:
    print("target string not starts with Learn")

target string not starts with Learn

In [44]:
s="Learning Python is very Easy"
res=re.search("easy$",s,re.IGNORECASE)
if res!=None:
    print("target string ends with Easy")
else:
    print("target string not ends with Easy")

target string ends with Easy

In [45]:
s="Easy Python learning"
res=re.search("Easy$",s)
if res!=None:
    print("target string ends with Easy")
else:
    print("target string not ends with Easy")

target string not ends with Easy

In [51]:
import re

phonenumber= "954-457-7961"

regex= "\w{3}-\w{3}-\w{4}"

if re.search(regex, phonenumber):
    print("Valid phone number")
else:
    print("Invalid phone number")

Valid phone number

In [53]:
import re
inp=input("enter mobile number")
res=re.search("^[6-9]/d {9}",inp)
if res!=None:
    print("correct")
else:
    print("wrong")

enter mobile number6789469
wrong

In [55]:
f1=open("input.txt","r")
f2=open("output.txt","w")
for line in f1:
    list=re.findall("[6-9]\d{9}",line)
    for n in list:
        f2.write(n+"\n")
print("extracted all mobile numbers")
f1.close()
f2.close()

extracted all mobile numbers

In [59]:
s=input("enter vehicle registration number")
m=re.fullmatch("KA[0][0-6][A-Z]{2}\d{9}",s)
if m!=None:
    print("its valid reg num")
else:
    print("not as valid num")

enter vehicle registration numberyd547
not as valid num

In [60]:
s=input("enter EMAIL")
m=re.fullmatch("\w[a-zA-Z0-9_.]*@gmail[.]com",s)
if m!=None:
    print("its valid reg num")
else:
    print("not as valid num")

enterEMAILsruthiprajeevnair@gmail.com
its valid reg num

In [69]:
import pandas as pd
train = pd.read_csv('titanic_train.csv')

In [70]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S